body{
    background-color: #ece2e7;
}

main{
    background-color: #ffffff;
}

.kartya p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
}

.kartya button{
    background-color: #ece2e7;
    border: 1px #c0a1b1 solid;
    border-radius: 10px;
    width: 40%;
    height: 40px;
}